body{
    background-color: rgb(221, 218, 218);
    /* font-family: Lato; */
    font-family:sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

main{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 200px 200px;
    padding: 20px;

}

.div1{
    background-color: rgb(182, 231, 67);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    
}

.picbox{
    float: left;
}

.button{
    background-color: black;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 3px;
        
}

.content1{
    float: right;
    position: absolute;
    color: black;
}

.div2{
    background-color: rgb(252, 250, 249);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(20, 20, 19);
    padding: 20px;
}

.content2{
    position: absolute;
    float: left;
    text-align: left;
}

.content3{
    margin-left: 680px;
    color: black;
    justify-content:center;   
}

progress{
    background-color: rgb(182, 231, 67); 
    height: 10px;
    width: 300px;
    /* background-color: ; */
    /* border-radius: 100%; */
}

.flexcontainer{
    display: flex;

}

a{
    text-decoration: none;
    color: white;
}

.flexcontainer > div {
    height: 490px;
    width: 600px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    color: black;
    margin-top: 3px;
    padding: 20px;
    font-size: 12px;
}

.fb1{
    background-color: rgb(252, 250, 249);
    }
    
.fb2{
    background-color: rgb(252, 250, 249);
    }


.heading1{
     float: left;

 }

 .heading2{
    margin-left: 100px;
}



.footer{
    margin: 0;
    width: 88.5%;
    height: 180px;
    background-color: rgb(252, 250, 249);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 68px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;

}

.lang_lft{
    font-size: 15px;
    padding-left: 10px;
    margin-left: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(182, 231, 67);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    /* float: left; */
    
  }

  .dot1 {
    height: 15px;
    width: 15px;
    background-color: rgb(206, 209, 206);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    /* float: left; */

  }


.inter_rgt{
    font-size: 15px;
    padding-left: 10px;
    margin-left: 220px;
    
} 

.table{
    /* margin: 0%; */
    float: left;
}