body{
    background-color: rgb(221, 218, 218);
    font-family:sans-serif;
  }

*{
    margin: 0px;
    padding: 0px;
    
}

main{
    margin: auto;
    width: 90%;
    display: grid;
    /* grid-template-rows: 800px 400px; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.div1{
    background-color: rgb(182, 231, 67);
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


img{
    border: 2px solid white;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-left: 90px;
    margin-top: 7px;
    /* float: left; */
    position: absolute;  
}

.txt{
    /* float: left; */
    padding: 10px;
    color: white;
    margin-left: 160px;
}

.img2{
    margin-left: 524px;
    height: 15px;
    width: 15px;
    background-color:transparent;
    /* margin-top: 5px; */
    float: right;

}

.div2{
    background-color: white;
    height: 800px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }

.txt2{
    padding: 20px;
    margin-left: 35px;
    margin-top: 30px;
    
}   
.txt3{
    margin-right: 50px;
    float: right;
    /* font-size: 10px;  */
     
}

.img4{
    margin-left: 580px;
    width: 15px;
    height: 15px;
    border: none;
}

 input[type=submit]{
     background-color:transparent; 
    color: rgb(252, 247, 247);
    padding: 5px 5px;
    width: 150px;
    height: 30px;
    /* border-radius: 50px; */
    border:none;
    margin-left: 550px;
    /* margin-top: 2px; */
  } 

/* .box{
    width:85%; 
    height:500px;
    border: 2px solid black;
    margin-left: 50px;
} */



  .base{
	padding-top:00pt;
	margin-left: 4%;
	border:solid 2px rgb(221, 218, 218);
	height: 600px;
    width: 90%;
    /* background-color: rgb(10, 12, 88); */
}

.right{
    float : right;
	padding-top:00pt;
	border:solid 1px rgb(221, 218, 218);
	height: 550px;
    width: 810px;
    padding: 10px;
    margin-right: 50px;
    /* border-style: solid; */
}



.left{
    overflow-y: auto;
	padding-top:00pt;
	margin-left: 50px;
	border:solid 1px rgb(221, 218, 218);
	height: 550px;
    width: 270px;
    padding: 10px;
    /* background-color: cadetblue; */
}

a{
    text-decoration: none;
    color: #000;
}

/* a:hover {
    color: rgb(142, 187, 245);
  } */

ul{
    list-style-type: none;
}
















/* .box{
    display: flex;
    width:1000px;
    height:615px;
    border:1px solid rgb(197, 195, 195);
    margin-left: 100px;
    margin-top: 25px;
    position: absolute;
} */


/* .content{
    float:left;
    /* width: 75%;} */
p{
    color: rgb(80, 79, 79);
    font-size: medium;
}    
 

table, th, td {
  border: 1px solid rgb(196, 194, 194);
  border-collapse: collapse;
  margin-left: 100px;
}

th, td {
  padding: 10px;
  width: 5px;
  text-align: left; 
  
  
}



 
    