/* li,div{
    color: rgb(161, 29, 122);
} */



 .nav :hover
 { 
 color: rgb(244, 247, 245);
 style-type:circle;
 } 

.nav:active{
    font-size: inherit;
}
.item{
    display: inline;
}

 body{
     background-color: coral; 
     /* background-image: url('../img/d.jpg'); */
     /* background-repeat: no-repeat; */
     /* background-position-x: center; */

     /* background:coral url('../img/d.jpg') no-repeat; */
 }

 .class{
     /* border-style:solid;
     border-color: crimson;
     border-width: 3px; */
     border: 5px solid yellowgreen;
     border-radius: 20px;
     /* margin: 84px; */
     /* margin: 23px 67px 56px 0; */
     /* top right bottom left */
     margin:auto;
     width:40%;
     height: 100px;
     
     padding: 40px;
     /* padding-left: 30px; */
     /* padding-bottom: 50px; */
     padding-top: 20px;
     text-align: center;
     word-spacing: 5px;
     text-shadow: 4px 4px chocolate;
     direction: inherit;
     

 }

 .nav{
     background-color: teal;

 }

 .items{
     background-color: wheat;

 }
 .item{
     background-color: aqua;
 }