body{
    background-color: rgb(221, 218, 218);
    font-family:sans-serif;
  }

*{
    margin: 0;
    padding: 0;
}

main{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 800px 400px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}


 .div{
    background-color: rgb(182, 231, 67);
    border-radius: 10px;
    
} 


.div1{
    background-color: white;
    width: 400px;
    height: 300px;
    margin-top: 180px;
    margin-left: 380px;
    border-radius: 10px;
    align-content: center;
    padding: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  input[type=submit]{
    background-color: #070707;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    float: right;
  } 
